.header
    background: #a8a8ad
    margin: 0px 0px 20px 0
    padding: 25px
    position: relative

    h1
        text-align: center
        text-transform: uppercase
    
    .link
        position: absolute
        right: 25px
        top: 33px

@media only screen and (max-width: 640px)
    .header
        margin: 0 0 15px 0

        h1
            font-size: 17px
        
        .link
            top: 26px

