.video-box
    align-items: center
    background: rgba(0, 0, 0, .5)
    display: flex
    height: 100%
    justify-content: center
    padding: 5px
    position: fixed
    top: 0
    width: 100%

    .video
        background: #fff
        border-radius: 5px
        position: relative
        height: 360px

        video
            width: 640px
        
        .close
            color: #FFF
            cursor: pointer
            font-weight: bold
            position: absolute
            right: 10px
            top: 10px
            z-index: 5

@media only screen and (max-width: 600px)
    .video-box
        padding: 0

        .video
            border-radius: 0px
            margin: 0 10px
            width: 100%
            height: auto

            video
                width: 100%
                height: 100%