<div class="video-box">
    <div class="video">
        <span (click)="closeVideo()" class="close">CLOSE</span>
        <video id="videoPlayer" oncontextmenu="return false;" src="{{movie.contents[0].url}}" autoplay="autoplay" controls></video>
    </div>
</div>