.modal-history
    align-items: center
    background: rgba(0, 0, 0, .5)
    display: flex
    height: 100%
    justify-content: center
    padding: 5px
    position: fixed
    top: 0
    width: 100%
    z-index: 10

    .modal
        background: #fff
        border-radius: 5px
        overflow: hidden
        padding: 15px
        position: relative
        width: 600px

        > .modal-header
            position: relative

            > .close
                cursor: pointer
                position: absolute
                right: 0
                text-decoration: underline
                top: 4px
        
        > .modal-body
            > .list
                max-height: 400px
                overflow-y: scroll
                > .history
                    align-items: center
                    border-bottom: 1px solid #DDD
                    display: flex
                    padding: 10px 0
                
                    > .image div
                        background-size: cover
                        background-position: center
                        background-repeat: no-repeat
                        height: 125px
                        margin-right: 20px
                        width: 125px

                    > .info
                        > .name
                            font-weight: bold

            > .empty
                color: red
                display: block
                font-weight: bold
                padding: 35px 0 0

@media only screen and (max-width: 600px)
    .modal-history
        padding: 0

        .modal
            width: auto
            margin: 0 10px