<div class="modal-history">
    <div class="modal">
        <div class="modal-header">
            <h3 class="title">History</h3>
            <span (click)="closeHistory()" class="close">Close</span>
        </div>
        <div class="modal-body">
            <ul class="list" *ngIf="history && history.length > 0">
                <li class="history" *ngFor="let movie of history">
                    <div class="image">
                        <div [style.background-image]="'url(' + movie.images.url + ')'"></div>
                    </div>
                    <div class="info">
                        <p class="name">{{movie.title}}</p>
                    </div>
                </li>
            </ul>
            <span class="empty" *ngIf="!history || history.length === 0">You haven't seen anything yet.</span>
        </div>
    </div>
</div>