<app-header-site [title]="'Home'"></app-header-site>

<section class="home" *ngIf="movies">
    <ngu-carousel #myCarousel [inputs]="carouselConfig">
        <ngu-item class="line" NguCarouselItem *ngFor="let item of movies; let j = index" [attr.data-order]="j">
            <div class="movie" (click)="openMovie(item)">
                <div class="image" [style.background-image]="'url(' + item.images[0].url + ')'" title="{{item.title}}"></div>
                <p class="name">{{item.title}}</p>
            </div>
        </ngu-item>
        <button NguCarouselPrev class="leftRs">&lt;</button>
        <button NguCarouselNext class="rightRs">&gt;</button>
    </ngu-carousel>
</section>

<app-video-player *ngIf="movie" [movie]="movie" [playback]="playback" (infoVideo)="closeVideo($event)"></app-video-player>
