.home
    .line
        position: relative
        &.selected
            .movie
                background: #009fff

        .movie
            cursor: pointer
            margin: 0 auto
            padding: 7px
            width: 300px
             
            .image
                background-color: #999
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                height: 400px
                width: 100%

            .name
                font-weight: bold
                text-align: center
                padding: 10px 0

    .leftRs
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        width: 50px
        height: 50px
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3)
        border-radius: 999px
        left: 0

    .rightRs
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        width: 50px
        height: 50px
        box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3)
        border-radius: 999px
        right: 0

@media only screen and (max-width: 642px)
    .home
        .line
            flex: 0 0 100% !important