.link-no-hover
    outline: 0
    text-decoration: none

.link
    cursor: pointer
    font-size: 14px
    text-decoration: underline
    &:hover
        @extend .link-no-hover

.relative
    position: relative

.no-relative
    position: inherit

.opacity-edge
    opacity: 0.5
    filter: alpha(opacity=50)

.opacity-active, .opacity-edge
        &:hover
            opacity: 1
            filter: alpha(opacity=100)
            -webkit-transition: all 0.3s ease-in
            -moz-transition: all 0.3s ease-in
            -o-transition: all 0.3s ease-in
            transition: all 0.3s ease-in

.opacity-active
    &:hover
        opacity: 0.8
        filter: alpha(opacity=80)
        -webkit-transition: all 0.3s ease-in
        -moz-transition: all 0.3s ease-in
        -o-transition: all 0.3s ease-in
        transition: all 0.3s ease-in

.pointer
    cursor: pointer

.inline-block
    display: inline-block
    margin: 0 auto

.float-all
    width: 100%
    float: left
