<app-modal-history *ngIf="openedHistory" [history]="history" (close)="closeHistory($event)"></app-modal-history>

<header class="header">
    <h1>{{title}}</h1>
    <span (click)="openHistory()" class="link">History</span>
</header>
